<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World from html file</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas a assumenda, quia dolorum beatae harum, nemo libero, ex tenetur autem est totam molestias saepe sint fuga natus? Perferendis, nesciunt tempore. Eveniet sequi a voluptate officia in minima tenetur sapiente labore, hic aspernatur ipsum possimus corporis animi molestias, suscipit nobis accusamus earum! Soluta nobis sunt eum!</p>

    <%=name%>
</body>
</html>